<!DOCTYPE html>
<html lang="cs" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/master" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Change Request List</h1>
        <th:block th:if="${!requests.isEmpty()}">
            <table class="table table-striped client">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Datum</th>
                    <th>Typ</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="request : ${requests}">
                        <td th:text="${request.id}"></td>
                        <td th:text="${#dates.format(request.changeDate, 'dd. MM. yyyy HH:mm')}"></td>
                        <td th:text="${request.type}"></td>
                        <td>
                            <a class="btn btn-default btn-sm" th:href="@{/change-request/{id}(id=${request.id})}">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Zobrazit
                            </a>
                            <a class="btn btn-default btn-sm" th:href="@{/change-request/{id}/delete(id=${request.id})}">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Odstranit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </th:block>
    </section>
</body>
</html>