<!DOCTYPE html>
<html lang="cs" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/master" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Change Request New</h1>
        <form class="form-horizontal" th:action="@{/change-request/{id}(id=${client.id})}" method="post" th:object="${client}">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Osobní údaje</legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rodné číslo</label>
                        <div class="col-sm-9">
                            <input type="text" name="personalNumber" class="form-control" th:field="*{personalNumber}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Země původu</label>
                        <div class="col-sm-9">
                            <input type="text" name="originCountry" class="form-control" th:field="*{originCountry}" />
                        </div>
                    </div>
                    <th:block th:each="name,i : ${client.firstNames}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Jméno <th:block th:text="${i.index} + 1"></th:block></label>
                            <div class="col-sm-9">
                                <input type="text" th:name="|firstNames[${i.index}]|" class="form-control" th:value="${name}"/>
                            </div>
                        </div>
                    </th:block>
                    <hr />
                    <th:block th:each="name,i : ${client.lastNames}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Příjmení <th:block th:text="${i.index} + 1"></th:block></label>
                            <div class="col-sm-9">
                                <input type="text" th:name="|lastNames[${i.index}]|" class="form-control" th:value="${name}"/>
                            </div>
                        </div>
                    </th:block>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <th:block th:each="phone,i : ${client.phones}">
                    <fieldset>
                        <legend>Telefon <th:block th:text="${i.index} + 1"></th:block></legend>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Typ</label>
                                <div class="col-sm-9">
                                    <select class="form-control" th:name="|phone[${i.index}].type|">
                                        <option></option>
                                        <option th:selected="${phone.type == T(cz.cvut.sep.vorislu1.model.Phone.PhoneType).MOBILE}" value="1">Mobil</option>
                                        <option th:selected="${phone.type == T(cz.cvut.sep.vorislu1.model.Phone.PhoneType).FIX}" value="2">Pevná</option>
                                    </select>
                                </div>
                            </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kód státu</label>
                            <div class="col-sm-9">
                                <input type="text" th:name="|phones[${i.index}].countryCode|" class="form-control" th:value="${phone.countryCode}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kód města</label>
                            <div class="col-sm-9">
                                <input type="text" th:name="|phones[${i.index}].cityCode|" class="form-control"  th:value="${phone.cityCode}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Číslo</label>
                            <div class="col-sm-9">
                                <input type="text" th:name="|phones[${i.index}].phoneNumber|" class="form-control" th:value="${phone.phoneNumber}" />
                            </div>
                        </div>
                    </fieldset>
                </th:block>
            </div>
            <div class="row">
                    <th:block th:each="address,i : ${client.addresses}">
                        <fieldset class="col-sm-6">
                            <legend>Adresa <th:block th:text="${i.index} + 1"></th:block></legend>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Ulice</label>
                                <div class="col-sm-9">
                                    <input type="text" th:name="|addresses[${i.index}].streetName|" class="form-control" th:value="${address.streetName}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Číslo domu</label>
                                <div class="col-sm-9">
                                    <input type="text" th:name="|addresses[${i.index}].streetNumber|" class="form-control"  th:value="${address.streetNumber}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Město</label>
                                <div class="col-sm-9">
                                    <input type="text" th:name="|addresses[${i.index}].city|" class="form-control"  th:value="${address.city}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Městská část</label>
                                <div class="col-sm-9">
                                    <input type="text" th:name="|addresses[${i.index}].cityPart|" class="form-control"  th:value="${address.cityPart}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">PSČ</label>
                                <div class="col-sm-9">
                                    <input type="text" th:name="|addresses[${i.index}].zipCode|" class="form-control"  th:value="${address.zipCode}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Stát</label>
                                <div class="col-sm-9">
                                    <input type="text" th:name="|addresses[${i.index}].country|" class="form-control"  th:value="${address.country}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Region</label>
                                <div class="col-sm-9">
                                    <input type="text" th:name="|addresses[${i.index}].region|" class="form-control"  th:value="${address.region}" />
                                </div>
                            </div>
                        </fieldset>
                    </th:block>
            </div>
            <div class="col-sm-12">
                <div class="request-control">
                    <input type="submit" class="pull-right btn btn-primary" value="Vytvořit požadavek" />
                </div>
            </div>
        </form>

    </section>
</body>
</html>