<!DOCTYPE html>
<html lang="cs" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/master" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Change Request New</h1>
        <form class="form-horizontal">
            <div class="col-sm-6">
                <fieldset>
                    <legend>Osobní údaje</legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Rodné číslo</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="123546/4631" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Země původu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Kdoví" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Jméno 1</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Jméno 2</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Jméno 3</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Jméno 4</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Jméno 5</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Příjmení 1</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Příjmení 2</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Příjmení 3</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Příjmení 4</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Příjmení 5</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Telefon 1</legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Typ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kód státu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kód města</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Číslo</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Telefon 2</legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Typ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kód státu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kód města</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Číslo</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Telefon 3</legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Typ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kód státu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Kód města</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Číslo</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="Adam" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Adresa 1</legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ulice</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Číslo domu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Město</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Městská část</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">PSČ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Stát</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Region</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Adresa 3</legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ulice</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Číslo domu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Město</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Městská část</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">PSČ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Stát</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Region</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-sm-6">
                <fieldset>
                    <legend>Adresa 2</legend>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ulice</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Číslo domu</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Město</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Městská část</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">PSČ</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Stát</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Region</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" value="" />
                        </div>
                    </div>
                </fieldset>

                <div class="request-control">
                    <input type="submit" class="pull-right btn btn-primary" value="Vytvořit požadavek" />
                </div>
            </div>



        </form>

    </section>
</body>
</html>