body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
}

table.client {
    width: 700px;
}

table.client>tbody>tr>td {
    vertical-align: middle;
}

table.client td:nth-of-type(1) {
    width: 60px;
}

table.client td:nth-of-type(2) {
    width: 250px;
}

.item {
    font-style: italic;
    font-size: 120%;
    line-height: 150%;
    margin-top: 7px;
}

.item .title {
    display: inline-block;
    width: 220px;
    font-style: normal;
    font-weight: bold;

}

.request-control {
    position: relative;
    top: 20px;
}